## Ignorar archivos de Visual Studio
.vs/
[Aa]horcadito/bin/
[Aa]horcadito/obj/
*.user
*.suo
*.cache
*.docstates
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.pdb
*.tmp
*.tlog
*~
*.db
*.opendb
*.VC.db

## Ignorar archivos de compilación
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb

## Otros archivos temporales
_ReSharper.*
*.bak
*.csproj.user